node_modules/
.expo/
npm-debug.*
*.jks
*.p8
*.p12
*.key
*.mobileprovision
*.orig.*
web-build/

# macOS
.DS_Store

# TEMP - avoiding dependencies conflicts
yarn.lock
package-lock.json

#vscode
.vscode

#dotfile
.env
.extra
